In [ ]:
import pandas as pd
import numpy as np

In [2]:
# importing draft data
draft_2021 = pd.read_csv('draft_data/2021.csv')
draft_2020 = pd.read_csv('draft_data/2020.csv')
draft_2019 = pd.read_csv('draft_data/2019.csv')
draft_2018 = pd.read_csv('draft_data/2018.csv')
draft_2017 = pd.read_csv('draft_data/2017.csv')
draft_2016 = pd.read_csv('draft_data/2016.csv')
draft_2015 = pd.read_csv('draft_data/2015.csv')
draft_2014 = pd.read_csv('draft_data/2014.csv')
draft_2013 = pd.read_csv('draft_data/2013.csv')
draft_2012 = pd.read_csv('draft_data/2012.csv')
draft_2011 = pd.read_csv('draft_data/2011.csv')
draft_2010 = pd.read_csv('draft_data/2010.csv')
draft_2009 = pd.read_csv('draft_data/2009.csv')
draft_2008 = pd.read_csv('draft_data/2008.csv')
draft_2007 = pd.read_csv('draft_data/2007.csv')
draft_2006 = pd.read_csv('draft_data/2006.csv')
draft_2005 = pd.read_csv('draft_data/2005.csv')
draft_2004 = pd.read_csv('draft_data/2004.csv')
draft_2003 = pd.read_csv('draft_data/2003.csv')
draft_2002 = pd.read_csv('draft_data/2002.csv')
draft_2001 = pd.read_csv('draft_data/2001.csv')
draft_2000 = pd.read_csv('draft_data/2000.csv')
draft_1999 = pd.read_csv('draft_data/1999.csv')
draft_1998 = pd.read_csv('draft_data/1998.csv')
draft_1997 = pd.read_csv('draft_data/1997.csv')
draft_1996 = pd.read_csv('draft_data/1996.csv')
draft_1995 = pd.read_csv('draft_data/1995.csv')
draft_1994 = pd.read_csv('draft_data/1994.csv')
draft_1993 = pd.read_csv('draft_data/1993.csv')

# adding a year column to draft dfs
draft_2021['Year'] = 2021
draft_2020['Year'] = 2020
draft_2019['Year'] = 2019
draft_2018['Year'] = 2018
draft_2017['Year'] = 2017
draft_2016['Year'] = 2016
draft_2015['Year'] = 2015
draft_2014['Year'] = 2014
draft_2013['Year'] = 2013
draft_2012['Year'] = 2012
draft_2011['Year'] = 2011
draft_2010['Year'] = 2010
draft_2009['Year'] = 2009
draft_2008['Year'] = 2008
draft_2007['Year'] = 2007
draft_2006['Year'] = 2006
draft_2005['Year'] = 2005
draft_2004['Year'] = 2004
draft_2003['Year'] = 2003
draft_2002['Year'] = 2002
draft_2001['Year'] = 2001
draft_2000['Year'] = 2000
draft_1999['Year'] = 1999
draft_1998['Year'] = 1998
draft_1997['Year'] = 1997
draft_1996['Year'] = 1996
draft_1995['Year'] = 1995
draft_1994['Year'] = 1994
draft_1993['Year'] = 1993

# read in combine data
combine_2021 = pd.read_csv('combine_data/2021.csv')
combine_2020 = pd.read_csv('combine_data/2020.csv')
combine_2019 = pd.read_csv('combine_data/2019.csv')
combine_2018 = pd.read_csv('combine_data/2018.csv')
combine_2017 = pd.read_csv('combine_data/2017.csv')
combine_2016 = pd.read_csv('combine_data/2016.csv')
combine_2015 = pd.read_csv('combine_data/2015.csv')
combine_2014 = pd.read_csv('combine_data/2014.csv')
combine_2013 = pd.read_csv('combine_data/2013.csv')
combine_2012 = pd.read_csv('combine_data/2012.csv')
combine_2011 = pd.read_csv('combine_data/2011.csv')
combine_2010 = pd.read_csv('combine_data/2010.csv')
combine_2009 = pd.read_csv('combine_data/2009.csv')
combine_2008 = pd.read_csv('combine_data/2008.csv')
combine_2007 = pd.read_csv('combine_data/2007.csv')
combine_2006 = pd.read_csv('combine_data/2006.csv')
combine_2005 = pd.read_csv('combine_data/2005.csv')
combine_2004 = pd.read_csv('combine_data/2004.csv')
combine_2003 = pd.read_csv('combine_data/2003.csv')
combine_2002 = pd.read_csv('combine_data/2002.csv')
combine_2001 = pd.read_csv('combine_data/2001.csv')
combine_2000 = pd.read_csv('combine_data/2000.csv')
combine_1999 = pd.read_csv('combine_results/1999.csv')
combine_1998 = pd.read_csv('combine_results/1998.csv')
combine_1997 = pd.read_csv('combine_results/1997.csv')
combine_1996 = pd.read_csv('combine_results/1996.csv')
combine_1995 = pd.read_csv('combine_results/1995.csv')
combine_1994 = pd.read_csv('combine_results/1994.csv')
combine_1993 = pd.read_csv('combine_results/1993.csv')

# adding a year to the combine data
combine_2021['Year'] = 2021
combine_2020['Year'] = 2020
combine_2019['Year'] = 2019
combine_2018['Year'] = 2018
combine_2017['Year'] = 2017
combine_2016['Year'] = 2016
combine_2015['Year'] = 2015
combine_2014['Year'] = 2014
combine_2013['Year'] = 2013
combine_2012['Year'] = 2012
combine_2011['Year'] = 2011
combine_2010['Year'] = 2010
combine_2009['Year'] = 2009
combine_2008['Year'] = 2008
combine_2007['Year'] = 2007
combine_2006['Year'] = 2006
combine_2005['Year'] = 2005
combine_2004['Year'] = 2004
combine_2003['Year'] = 2003
combine_2002['Year'] = 2002
combine_2001['Year'] = 2001
combine_2000['Year'] = 2000
combine_1999['Year'] = 1999
combine_1998['Year'] = 1998
combine_1997['Year'] = 1997
combine_1996['Year'] = 1996
combine_1995['Year'] = 1995
combine_1994['Year'] = 1994
combine_1993['Year'] = 1993

# read in rushing data
rushing_2021 = pd.read_csv('rushing/2021.csv')
rushing_2020 = pd.read_csv('rushing/2020.csv')
rushing_2019 = pd.read_csv('rushing/2019.csv')
rushing_2018 = pd.read_csv('rushing/2018.csv')
rushing_2017 = pd.read_csv('rushing/2017.csv')
rushing_2016 = pd.read_csv('rushing/2016.csv')
rushing_2015 = pd.read_csv('rushing/2015.csv')
rushing_2014 = pd.read_csv('rushing/2014.csv')
rushing_2013 = pd.read_csv('rushing/2013.csv')
rushing_2012 = pd.read_csv('rushing/2012.csv')
rushing_2011 = pd.read_csv('rushing/2011.csv')
rushing_2010 = pd.read_csv('rushing/2010.csv')
rushing_2009 = pd.read_csv('rushing/2009.csv')
rushing_2008 = pd.read_csv('rushing/2008.csv')
rushing_2007 = pd.read_csv('rushing/2007.csv')
rushing_2006 = pd.read_csv('rushing/2006.csv')
rushing_2005 = pd.read_csv('rushing/2005.csv')
rushing_2004 = pd.read_csv('rushing/2004.csv')
rushing_2003 = pd.read_csv('rushing/2003.csv')
rushing_2002 = pd.read_csv('rushing/2002.csv')
rushing_2001 = pd.read_csv('rushing/2001.csv')
rushing_2000 = pd.read_csv('rushing/2000.csv')
rushing_1999 = pd.read_csv('rushing/1999.csv')
rushing_1998 = pd.read_csv('rushing/1998.csv')
rushing_1997 = pd.read_csv('rushing/1997.csv')
rushing_1996 = pd.read_csv('rushing/1996.csv')
rushing_1995 = pd.read_csv('rushing/1995.csv')
rushing_1994 = pd.read_csv('rushing/1994.csv')
rushing_1993 = pd.read_csv('rushing/1993.csv')

# add a year column to receiving
rushing_2021['Year'] = 2021
rushing_2020['Year'] = 2020
rushing_2019['Year'] = 2019
rushing_2018['Year'] = 2018
rushing_2017['Year'] = 2017
rushing_2016['Year'] = 2016
rushing_2015['Year'] = 2015
rushing_2014['Year'] = 2014
rushing_2013['Year'] = 2013
rushing_2012['Year'] = 2012
rushing_2011['Year'] = 2011
rushing_2010['Year'] = 2010
rushing_2009['Year'] = 2009
rushing_2008['Year'] = 2008
rushing_2007['Year'] = 2007
rushing_2006['Year'] = 2006
rushing_2005['Year'] = 2005
rushing_2004['Year'] = 2004
rushing_2003['Year'] = 2003
rushing_2002['Year'] = 2002
rushing_2001['Year'] = 2001
rushing_2000['Year'] = 2000
rushing_1999['Year'] = 1999
rushing_1998['Year'] = 1998
rushing_1997['Year'] = 1997
rushing_1996['Year'] = 1996
rushing_1995['Year'] = 1995
rushing_1994['Year'] = 1994
rushing_1993['Year'] = 1993

In [3]:
rushing_2021.head()

,Rk,Player,School,Conf,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year
0,1,Kendre Miller,TCU,Big 12,10,83,623,7.5,7,12,117,9.8,1,95,740,7.8,8,2021
1,2,Anthony Watkins,Tulsa,American,13,86,634,7.4,4,4,28,7.0,0,90,662,7.4,4,2021
2,3,Devon Achane,Texas A&M,SEC,12,130,910,7.0,9,24,261,10.9,1,154,1171,7.6,10,2021
3,4,Johnny Richardson,UCF,American,13,104,733,7.0,3,25,226,9.0,1,129,959,7.4,4,2021
4,5,Zach Evans,TCU,Big 12,6,92,648,7.0,5,10,130,13.0,1,102,778,7.6,6,2021

In [4]:
def clean_combine(combine_full, position):
    combine_full = combine_full[combine_full['Position']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Player'] = combine_full['Player'].str.lower()
    combine_full['Drafted'] = combine_full['Drafted'].str.split("/")
    combine_full['Round'] = combine_full['Drafted'].str[1]
    combine_full['Pick'] = combine_full['Drafted'].str[2]
    combine_full['Pick'] = combine_full['Pick'].str.replace("th pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("rd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("nd pick","")
    combine_full['Pick'] = combine_full['Pick'].str.replace("st pick","")

    combine_full['Round'] = combine_full['Round'].str.replace("th","")
    combine_full['Round'] = combine_full['Round'].str.replace("rd","")
    combine_full['Round'] = combine_full['Round'].str.replace("nd","")
    combine_full['Round'] = combine_full['Round'].str.replace("st","")

    combine_full['Pick'] = combine_full['Pick'].astype('int32')
    combine_full['Round'] = combine_full['Round'].astype('int32')
    # converting height to inches
    combine_full = combine_full[combine_full['Height'].notnull()]
    combine_full['Height'] = combine_full['Height'].str.split("-")
    combine_full['Feet'] = combine_full['Height'].str[0]
    combine_full['Inches'] = combine_full['Height'].str[1]
    combine_full['Feet'] = combine_full['Feet'].astype('int')
    combine_full['Inches'] = combine_full['Inches'].astype('int')
    combine_full['Height (in)'] = combine_full['Feet']*12 + combine_full['Inches']

    combine_full = combine_full.drop(columns=['College', 'Height', 'Bench', 'Broad Jump', 'Drafted', 'Feet', 'Inches'])
    
    return combine_full

In [5]:
def clean_combine90s(combine_full, position):
    combine_full = combine_full[combine_full['POS']==f'{position}']
    combine_full = combine_full[combine_full['Year'].notna()].copy()
    combine_full = combine_full.reset_index(drop=True)
    # converting to an integer to remove decimal then to string to concatenate with other fields
    combine_full['Year'] = combine_full['Year'].astype(int)
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['Name'] = combine_full['Name'].str.lower()
    
    combine_full = combine_full.drop(columns=['Hand Size (in)', 'Arm Length (in)', 'Bench Press', '60Yd Shuttle', 'Wonderlic', 'Broad Jump (in)'])
    cols = combine_full.columns.tolist()
    cols = [cols[1]] + [cols[3]] + [cols[2]] + cols[5:8] + [cols[-1]]+ [cols[-2]] + [cols[0]] + [cols[4]]
    combine_full = combine_full[cols]
    combine_full.columns = ['Player', 'Position', 'School', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Year', 'Height (in)']
    combine_full['Year'] = combine_full['Year'].astype(str)
    combine_full['PK'] = combine_full['Player'].str.lower() + "+" + combine_full['Year']
    combine_full['Year'] = combine_full['Year'].astype(int)
    return combine_full

In [6]:
rush_stats = pd.concat([rushing_2021, rushing_2020, rushing_2019, rushing_2018, rushing_2017, rushing_2016, rushing_2015, rushing_2014, rushing_2013, rushing_2012, rushing_2011, rushing_2010, rushing_2009, rushing_2008,
                          rushing_2007, rushing_2006, rushing_2005, rushing_2004, rushing_2003, rushing_2002, rushing_2001, rushing_2000, rushing_1999, rushing_1998, rushing_1997, rushing_1996, rushing_1995, rushing_1994, rushing_1993])
rush_stats

,Rk,Player,School,Conf,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year
0,1,Kendre Miller,TCU,Big 12,10.0,83,623,7.5,7,12.0,117.0,9.8,1.0,95,740,7.8,8,2021
1,2,Anthony Watkins,Tulsa,American,13.0,86,634,7.4,4,4.0,28.0,7.0,0.0,90,662,7.4,4,2021
2,3,Devon Achane,Texas A&M,SEC,12.0,130,910,7.0,9,24.0,261.0,10.9,1.0,154,1171,7.6,10,2021
3,4,Johnny Richardson,UCF,American,13.0,104,733,7.0,3,25.0,226.0,9.0,1.0,129,959,7.4,4,2021
4,5,Zach Evans,TCU,Big 12,6.0,92,648,7.0,5,10.0,130.0,13.0,1.0,102,778,7.6,6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,258,Craig Randall,Tulane,Ind,12.0,82,-70,-0.9,1,NaN,NaN,NaN,NaN,82,-70,-0.9,1,1993
258,259,Danny O'Neil,Oregon,Pac-10,11.0,97,-137,-1.4,1,NaN,NaN,NaN,NaN,97,-137,-1.4,1,1993
259,260,Chad May,Kansas State,Big 8,11.0,73,-190,-2.6,7,NaN,NaN,NaN,NaN,73,-190,-2.6,7,1993
260,261,Paul Burmeister,Iowa,Big Ten,12.0,81,-257,-3.2,3,NaN,NaN,NaN,NaN,81,-257,-3.2,3,1993
261,262,John Walsh,Brigham Young,WAC,11.0,83,-307,-3.7,3,NaN,NaN,NaN,NaN,83,-307,-3.7,3,1993

In [7]:
# removing players with negative numbers and players with more receiving than rushing yds since these are probably receivers
rush_stats = rush_stats[rush_stats['RushYds']>0]
rush_stats = rush_stats[rush_stats['RushYds']>rush_stats['RecYds']].copy()
rush_stats.loc[rush_stats['Rec'].isna(),'Rec']=0
rush_stats.loc[rush_stats['RecAvg'].isna(),'RecAvg']=0
rush_stats.loc[rush_stats['RecYds'].isna(),'RecYds']=0

In [8]:
# standardizing player names and adding a primary key and space for a last_year column
rush_stats['Player'] = rush_stats['Player'].str.lower()
rush_stats['PK1'] = rush_stats['Player']+"+"+rush_stats['School']
rush_stats['Last_Year'] = np.nan

In [9]:
def get_ly(pk):
    """Function to determine the last year a player played in college"""
    a = rush_stats.loc[rush_stats['PK1']==f'{pk}']
    b = max(a['Year'])
    return b

In [10]:
# creating a list for use in the next step
pk_list = []
for index, row in rush_stats.iterrows():
    pk_list.append(row['PK1'])
    
pk_list[:5]

['kendre miller+TCU',
 'anthony watkins+Tulsa',
 'devon achane+Texas A&M',
 'johnny richardson+UCF',
 'zach evans+TCU']

In [11]:
# creating a list of the last year each player played 
year_list = []
for x in pk_list:
    year_list.append(get_ly(f"{x}"))

year_list[:5]

[2021, 2021, 2021, 2021, 2021]

In [12]:
# adding year column to df
rush_stats['Last_Year'] = year_list
rush_stats.tail()

,Rk,Player,School,Conf,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
236,237,pookie jones,Kentucky,SEC,10.0,130,288,2.2,6,1.0,1.0,1.0,0.0,131,289,2.2,6,1993,pookie jones+Kentucky,1993
242,243,michael armour,Eastern Michigan,MAC,10.0,94,151,1.6,0,1.0,-10.0,-10.0,0.0,95,141,1.5,0,1993,michael armour+Eastern Michigan,1993
249,250,mike mccoy,Utah,WAC,12.0,99,109,1.1,0,2.0,6.0,3.0,0.0,101,115,1.1,0,1993,mike mccoy+Utah,1993
252,253,len williams,Northwestern,Big Ten,10.0,124,76,0.6,3,1.0,26.0,26.0,0.0,125,102,0.8,3,1993,len williams+Northwestern,1993
253,254,jeff brohm,Louisville,Ind,11.0,78,45,0.6,3,1.0,3.0,3.0,0.0,79,48,0.6,3,1993,jeff brohm+Louisville,1993

In [13]:
rush_stats['Year'] = rush_stats['Year'].astype(str)
rush_stats['PK1'] = rush_stats['Player']+ "+" +rush_stats['School']
rush_stats.head()

,Rk,Player,School,Conf,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,Year,PK1,Last_Year
0,1,kendre miller,TCU,Big 12,10.0,83,623,7.5,7,12.0,117.0,9.8,1.0,95,740,7.8,8,2021,kendre miller+TCU,2021
1,2,anthony watkins,Tulsa,American,13.0,86,634,7.4,4,4.0,28.0,7.0,0.0,90,662,7.4,4,2021,anthony watkins+Tulsa,2021
2,3,devon achane,Texas A&M,SEC,12.0,130,910,7.0,9,24.0,261.0,10.9,1.0,154,1171,7.6,10,2021,devon achane+Texas A&M,2021
3,4,johnny richardson,UCF,American,13.0,104,733,7.0,3,25.0,226.0,9.0,1.0,129,959,7.4,4,2021,johnny richardson+UCF,2021
4,5,zach evans,TCU,Big 12,6.0,92,648,7.0,5,10.0,130.0,13.0,1.0,102,778,7.6,6,2021,zach evans+TCU,2021

In [14]:
# drop categorical variables, and last_year (since we don't want to sum this one)
rush_stats1 = rush_stats.drop(columns=['Player', 'School', 'Conf', 'Rk', "Last_Year"])

In [15]:
# grouping stats by player
rush_stats_grouped = rush_stats1.groupby(by='PK1').sum()
rush_stats_grouped.head()

,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs
PK1,,,,,,,,,,,,,
a'jon vivens+Colorado State,13.0,139,534,7.9,1,11.0,74.0,8.3,0.0,150,608,8.2,1
a'mod ned+Florida International,38.0,404,1666,16.5,10,57.0,411.0,28.7,1.0,461,2077,18.0,11
a.j. blue+North Carolina,12.0,82,433,5.3,9,9.0,80.0,8.9,1.0,91,513,5.6,10
a.j. davis+Pitt,11.0,127,530,4.2,4,23.0,269.0,11.7,0.0,150,799,5.3,4
a.j. erdely+UAB,13.0,122,326,2.7,13,1.0,3.0,3.0,0.0,123,329,2.7,13

In [16]:
# adding a yards per game column
rush_stats_grouped['YPG'] = rush_stats_grouped['RecYds'] / rush_stats_grouped['G']
rush_stats_grouped = rush_stats_grouped.merge(rush_stats.drop_duplicates(subset=['PK1'])[['PK1', 'Last_Year', 'Conf']], on='PK1', how='left')

In [17]:
# fixing averages
rush_stats_grouped['RecAvg'] = rush_stats_grouped['RecYds'] / rush_stats_grouped['Rec']
rush_stats_grouped['RushAvg'] = rush_stats_grouped['RushYds'] / rush_stats_grouped['RushAtt']
rush_stats_grouped['YardsPerPlay'] = rush_stats_grouped['TotalYds'] / rush_stats_grouped['Plays']
rush_stats_grouped['year_drafted'] = rush_stats_grouped['Last_Year']+1
rush_stats_grouped['year_drafted'] = rush_stats_grouped['year_drafted'].astype(str)
rush_stats_grouped.head()

,PK1,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted
0,a'jon vivens+Colorado State,13.0,139,534,3.841727,1,11.0,74.0,6.727273,0.0,150,608,4.053333,1,5.692308,2021,MWC,2022
1,a'mod ned+Florida International,38.0,404,1666,4.123762,10,57.0,411.0,7.210526,1.0,461,2077,4.505423,11,10.815789,2008,Sun Belt,2009
2,a.j. blue+North Carolina,12.0,82,433,5.280488,9,9.0,80.0,8.888889,1.0,91,513,5.637363,10,6.666667,2012,ACC,2013
3,a.j. davis+Pitt,11.0,127,530,4.173228,4,23.0,269.0,11.695652,0.0,150,799,5.326667,4,24.454545,2019,ACC,2020
4,a.j. erdely+UAB,13.0,122,326,2.672131,13,1.0,3.0,3.000000,0.0,123,329,2.674797,13,0.230769,2017,CUSA,2018

In [18]:
rush_stats_grouped['PK'] = rush_stats_grouped['PK1'].str.split("+").str[0]+"+"+rush_stats_grouped['year_drafted']
rush_stats_grouped.head()

,PK1,G,RushAtt,RushYds,RushAvg,RushTD,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Last_Year,Conf,year_drafted,PK
0,a'jon vivens+Colorado State,13.0,139,534,3.841727,1,11.0,74.0,6.727273,0.0,150,608,4.053333,1,5.692308,2021,MWC,2022,a'jon vivens+2022
1,a'mod ned+Florida International,38.0,404,1666,4.123762,10,57.0,411.0,7.210526,1.0,461,2077,4.505423,11,10.815789,2008,Sun Belt,2009,a'mod ned+2009
2,a.j. blue+North Carolina,12.0,82,433,5.280488,9,9.0,80.0,8.888889,1.0,91,513,5.637363,10,6.666667,2012,ACC,2013,a.j. blue+2013
3,a.j. davis+Pitt,11.0,127,530,4.173228,4,23.0,269.0,11.695652,0.0,150,799,5.326667,4,24.454545,2019,ACC,2020,a.j. davis+2020
4,a.j. erdely+UAB,13.0,122,326,2.672131,13,1.0,3.0,3.000000,0.0,123,329,2.674797,13,0.230769,2017,CUSA,2018,a.j. erdely+2018

In [19]:
def combine_draft_and_combine(df1, df2):
    """Function for combining the draft order and combine data
    df1 refers to the draft dataframe, df2 is combine. This function only works for 2000-present"""
    df1 = df1[df1['Position']=='RB']
    a = df1.merge(df2, how='left', on='Pick')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y', 'Round_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a['Year'] = a['Year'].astype(str)
    a['PK'] = a['Player'] + "+" + a['Year']
    a['PK'] = a['PK'].str.lower()
    return a

In [20]:
def combine_draft_and_combine90s(df1, df2):
    df1 = df1[df1['Position']=='RB'].copy()
    df1['Year'] = df1['Year'].astype(str)
    df1['PK'] = df1['Player'].str.lower()+"+"+df1['Year']
    df1['Year'] = df1['Year'].astype(int)
    a = df1.merge(df2, how='left', on='PK')
    a = a.drop(columns=['Player_y', 'Position_y','School_y','Year_y'])
    a.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'PK', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)']
    a = a[['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School', 'Year', 'Weight', '40 Time', 'Vertical Jump', '3 Cone', 'Shuttle', 'Height (in)', 'PK']]
    return a

In [21]:
def get_final_df(df1, df2):
    a = df1.merge(df2[['G', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs', 'YPG', 'Conf',"PK"]], on='PK', how='left')
    return a

In [22]:
# merged_2021 = combine_draft_and_combine(draft_2021, clean_combine(combine_2021, "RB"))
final_2021 = get_final_df(combine_draft_and_combine(draft_2021, clean_combine(combine_2021, "RB")), rush_stats_grouped)
final_2020 = get_final_df(combine_draft_and_combine(draft_2020, clean_combine(combine_2020, "RB")), rush_stats_grouped)
final_2019 = get_final_df(combine_draft_and_combine(draft_2019, clean_combine(combine_2019, "RB")), rush_stats_grouped)
final_2018 = get_final_df(combine_draft_and_combine(draft_2018, clean_combine(combine_2018, "RB")), rush_stats_grouped)
final_2017 = get_final_df(combine_draft_and_combine(draft_2017, clean_combine(combine_2017, "RB")), rush_stats_grouped)
final_2016 = get_final_df(combine_draft_and_combine(draft_2016, clean_combine(combine_2016, "RB")), rush_stats_grouped)
final_2015 = get_final_df(combine_draft_and_combine(draft_2015, clean_combine(combine_2015, "RB")), rush_stats_grouped)
final_2014 = get_final_df(combine_draft_and_combine(draft_2014, clean_combine(combine_2014, "RB")), rush_stats_grouped)
final_2013 = get_final_df(combine_draft_and_combine(draft_2013, clean_combine(combine_2013, "RB")), rush_stats_grouped)
final_2012 = get_final_df(combine_draft_and_combine(draft_2012, clean_combine(combine_2012, "RB")), rush_stats_grouped)
final_2011 = get_final_df(combine_draft_and_combine(draft_2011, clean_combine(combine_2011, "RB")), rush_stats_grouped)
final_2010 = get_final_df(combine_draft_and_combine(draft_2010, clean_combine(combine_2010, "RB")), rush_stats_grouped)
final_2009 = get_final_df(combine_draft_and_combine(draft_2009, clean_combine(combine_2009, "RB")), rush_stats_grouped)
final_2008 = get_final_df(combine_draft_and_combine(draft_2008, clean_combine(combine_2008, "RB")), rush_stats_grouped)
final_2007 = get_final_df(combine_draft_and_combine(draft_2007, clean_combine(combine_2007, "RB")), rush_stats_grouped)
final_2006 = get_final_df(combine_draft_and_combine(draft_2006, clean_combine(combine_2006, "RB")), rush_stats_grouped)
final_2005 = get_final_df(combine_draft_and_combine(draft_2005, clean_combine(combine_2005, "RB")), rush_stats_grouped)
final_2004 = get_final_df(combine_draft_and_combine(draft_2004, clean_combine(combine_2004, "RB")), rush_stats_grouped)
final_2003 = get_final_df(combine_draft_and_combine(draft_2003, clean_combine(combine_2003, "RB")), rush_stats_grouped)
final_2002 = get_final_df(combine_draft_and_combine(draft_2002, clean_combine(combine_2002, "RB")), rush_stats_grouped)
final_2001 = get_final_df(combine_draft_and_combine(draft_2001, clean_combine(combine_2001, "RB")), rush_stats_grouped)
final_2000 = get_final_df(combine_draft_and_combine(draft_2000, clean_combine(combine_2000, "RB")), rush_stats_grouped)
final_1999 = get_final_df(combine_draft_and_combine90s(draft_1999, clean_combine90s(combine_1999, "RB")), rush_stats_grouped)
final_1998 = get_final_df(combine_draft_and_combine90s(draft_1998, clean_combine90s(combine_1998, "RB")), rush_stats_grouped)
final_1997 = get_final_df(combine_draft_and_combine90s(draft_1997, clean_combine90s(combine_1997, "RB")), rush_stats_grouped)
final_1996 = get_final_df(combine_draft_and_combine90s(draft_1996, clean_combine90s(combine_1996, "RB")), rush_stats_grouped)
final_1995 = get_final_df(combine_draft_and_combine90s(draft_1995, clean_combine90s(combine_1995, "RB")), rush_stats_grouped)
final_1994 = get_final_df(combine_draft_and_combine90s(draft_1994, clean_combine90s(combine_1994, "RB")), rush_stats_grouped)
final_1993 = get_final_df(combine_draft_and_combine90s(draft_1993, clean_combine90s(combine_1993, "RB")), rush_stats_grouped)

In [23]:
final_2020.head()

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,...,Rec,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Conf
0,1,32,KAN,Clyde Edwards-Helaire,RB,21,LSU,2020,207.0,4.60,...,66.0,549.0,8.318182,1.0,427.0,2621.0,6.138173,24.0,19.607143,SEC
1,2,35,DET,D'Andre Swift,RB,21,Georgia,2020,212.0,4.48,...,56.0,513.0,9.160714,4.0,415.0,2780.0,6.698795,21.0,18.321429,SEC
2,2,41,IND,Jonathan Taylor,RB,21,Wisconsin,2020,226.0,4.39,...,42.0,407.0,9.690476,5.0,968.0,6581.0,6.798554,55.0,9.926829,Big Ten
3,2,52,LAR,Cam Akers,RB,21,Florida St.,2020,217.0,4.47,...,69.0,486.0,7.043478,7.0,655.0,3361.0,5.131298,34.0,13.500000,ACC
4,2,55,BAL,J.K. Dobbins,RB,21,Ohio St.,2020,209.0,NaN,...,71.0,645.0,9.084507,5.0,796.0,5104.0,6.412060,43.0,15.357143,Big Ten

In [24]:
combine_2021_clean = clean_combine(combine_2021, "RB")
combine_2021_clean.head()

,Player,Position,School,Weight,40 Time,Vertical Jump,3 Cone,Shuttle,Year,Round,Pick,Height (in)
0,gary brightwell,RB,Arizona,218.0,4.62,34.5,7.51,4.48,2021,6,196,70
1,michael carter,RB,North Carolina,201.0,4.50,34.0,6.81,3.98,2021,4,107,67
2,travis etienne,RB,Clemson,215.0,4.45,33.5,NaN,NaN,2021,1,25,70
3,chris evans,RB,Michigan,211.0,4.50,40.5,6.83,4.12,2021,6,202,71
4,demetric felton,RB,UCLA,189.0,4.55,NaN,NaN,NaN,2021,6,211,68

In [25]:
# reading in data for response variable
points_1993 = pd.read_csv('yearly/1993.csv')
points_1994 = pd.read_csv('yearly/1994.csv')
points_1995 = pd.read_csv('yearly/1995.csv')
points_1996 = pd.read_csv('yearly/1996.csv')
points_1997 = pd.read_csv('yearly/1997.csv')
points_1998 = pd.read_csv('yearly/1998.csv')
points_1999 = pd.read_csv('yearly/1999.csv')
points_2000 = pd.read_csv('yearly/2000.csv')
points_2001 = pd.read_csv('yearly/2001.csv')
points_2002 = pd.read_csv('yearly/2002.csv')
points_2003 = pd.read_csv('yearly/2003.csv')
points_2004 = pd.read_csv('yearly/2004.csv')
points_2005 = pd.read_csv('yearly/2005.csv')
points_2006 = pd.read_csv('yearly/2006.csv')
points_2007 = pd.read_csv('yearly/2007.csv')
points_2008 = pd.read_csv('yearly/2008.csv')
points_2009 = pd.read_csv('yearly/2009.csv')
points_2010 = pd.read_csv('yearly/2010.csv')
points_2011 = pd.read_csv('yearly/2011.csv')
points_2012 = pd.read_csv('yearly/2012.csv')
points_2013 = pd.read_csv('yearly/2013.csv')
points_2014 = pd.read_csv('yearly/2014.csv')
points_2015 = pd.read_csv('yearly/2015.csv')
points_2016 = pd.read_csv('yearly/2016.csv')
points_2017 = pd.read_csv('yearly/2017.csv')
points_2018 = pd.read_csv('yearly/2018.csv')
points_2019 = pd.read_csv('yearly/2019.csv')
points_2020 = pd.read_csv('yearly/2020.csv')
points_2021 = pd.read_csv('yearly/2021.csv')

points_1993['Year'] = 1993
points_1994['Year'] = 1994
points_1995['Year'] = 1995
points_1996['Year'] = 1996
points_1997['Year'] = 1997
points_1998['Year'] = 1998
points_1999['Year'] = 1999
points_2000['Year'] = 2000
points_2001['Year'] = 2001
points_2002['Year'] = 2002
points_2003['Year'] = 2003
points_2004['Year'] = 2004
points_2005['Year'] = 2005
points_2006['Year'] = 2006
points_2007['Year'] = 2007
points_2008['Year'] = 2008
points_2009['Year'] = 2009
points_2010['Year'] = 2010
points_2011['Year'] = 2011
points_2012['Year'] = 2012
points_2013['Year'] = 2013
points_2014['Year'] = 2014
points_2015['Year'] = 2015
points_2016['Year'] = 2016
points_2017['Year'] = 2017
points_2018['Year'] = 2018
points_2019['Year'] = 2019
points_2020['Year'] = 2020
points_2021['Year'] = 2021

In [26]:
# concatenating dfs
points_full = pd.concat([points_1993, points_1994, points_1995, points_1996, points_1997, points_1998, points_1999, points_2000, points_2001, points_2002, points_2003, points_2004, points_2005, points_2006, points_2007, points_2008, points_2009,
                        points_2010, points_2011, points_2012, points_2013, points_2014, points_2015, points_2016, points_2017, points_2018, points_2019, points_2020, points_2021])

# removing characters
points_full['Player'] = points_full['Player'].str.replace("*","")
points_full['Player'] = points_full['Player'].str.replace("+","")

# creating primary key

# creating response variable
points_full['PPRPoints'] = points_full['Rec'] + (points_full['PassingYds']*.04) + (points_full['PassingTD']*4) + (points_full['RushingTD']*6) + (points_full['ReceivingTD']*6) + (points_full['RushingYds']*.1) + (points_full['ReceivingYds']*.1) - (points_full['FumblesLost']*2) - (points_full['Int']*2)

In [27]:
points_full_rb = points_full[points_full['Pos']=='RB'].copy()
points_full_rb.head()

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints
1,1.0,Emmitt Smith,DAL,RB,24.0,14.0,13.0,65.0,57.0,0.0,...,9.0,283.0,414.0,1.0,299.0,0.0,4.0,0.0,1993,307.0
5,5.0,Jerome Bettis,RAM,RB,21.0,16.0,12.0,34.0,26.0,0.0,...,7.0,294.0,244.0,0.0,227.3,0.0,4.0,0.0,1993,235.3
6,6.0,Thurman Thomas,BUF,RB,27.0,16.0,16.0,71.0,48.0,0.0,...,6.0,355.0,387.0,0.0,242.2,0.0,6.0,0.0,1993,254.2
9,9.0,Ricky Watters,SFO,RB,24.0,13.0,13.0,45.0,31.0,0.0,...,10.0,208.0,326.0,1.0,214.6,0.0,5.0,0.0,1993,224.6
10,10.0,Marcus Allen,KAN,RB,33.0,16.0,10.0,46.0,34.0,0.0,...,12.0,206.0,238.0,3.0,216.2,0.0,4.0,0.0,1993,224.2

In [51]:
points_full_rb['PK'] = points_full_rb['Player'] + "+" + points_full_rb['Tm']
points_full_rb = points_full_rb[points_full_rb['G']>3]

In [52]:
def get_fy(pk):
    """Function to determine the first year a player was in the NFL"""
    a = points_full_rb.loc[points_full_rb['PK']==f'{pk}']
    b = min(a['Year'])
    return b

In [53]:
pk_list = []
for index, row in points_full_rb.iterrows():
    pk_list.append(row['PK'])

In [54]:
# creating a list of the first year each player played 
year_list = []
for x in pk_list:
    year_list.append(str(get_fy(f"{x}")))

In [55]:
points_full_rb = points_full_rb.copy()
points_full_rb['first_year'] = year_list
points_full_rb.head()
points_full_rb['PK2'] = points_full_rb['Player'].str.lower()+"+"+points_full_rb['first_year']
points_full_rb_grouped = points_full_rb.groupby('PK2').sum()
points_full_rb_grouped['PPG'] = points_full_rb_grouped['PPRPoints']/points_full_rb_grouped['G']
points_full_rb_grouped['PK'] = points_full_rb_grouped.index
points_full_rb_grouped[points_full_rb_grouped['PK']=="javonte williams+2021"]

,Unnamed: 0,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,...,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints,PPG,PK
PK2,,,,,,,,,,,,,,,,,,,,,
javonte williams+2021,59.0,21.0,17.0,1.0,53.0,43.0,0.0,0.0,0.0,903.0,...,316.0,3.0,162.0,0.0,2.0,1.0,2021,204.9,12.052941,javonte williams+2021

In [57]:
# calculating quantiles for response variable
q90 = points_full_rb_grouped.PPG.quantile(.90)
q75 = points_full_rb_grouped.PPG.quantile(.75)
q50 = points_full_rb_grouped.PPG.quantile(.50)
q25 = points_full_rb_grouped.PPG.quantile(.25)
q90

12.045436105476675

In [58]:
response = []
for x in points_full_rb_grouped['PPG']:
    if x >= q90:
        response.append(1)
    elif x >= q75:
        response.append(2)
    elif x >= q25:
        response.append(3)
    else:
        response.append(4)

In [59]:
points_full_rb_grouped['response'] = response

In [60]:
display(len(response))
display(len(points_full_rb_grouped['response']))

1566

1566

In [61]:
points_full_rb_grouped[points_full_rb_grouped['PK'].str.contains('javonte')]

,Unnamed: 0,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,...,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost,Year,PPRPoints,PPG,PK,response
PK2,,,,,,,,,,,,,,,,,,,,,
javonte williams+2021,59.0,21.0,17.0,1.0,53.0,43.0,0.0,0.0,0.0,903.0,...,3.0,162.0,0.0,2.0,1.0,2021,204.9,12.052941,javonte williams+2021,1

In [36]:
final_features = pd.concat([final_1993, final_1994, final_1995, final_1996, final_1997, final_1998, final_1999, final_2000, final_2001, final_2002, final_2003, final_2004, final_2005, final_2006,
                           final_2007, final_2008, final_2009, final_2010, final_2010, final_2011, final_2012, final_2013, final_2014, final_2015, final_2016, final_2017, final_2018, final_2019, final_2020,final_2021])

In [62]:
# creating df for use in next step
rb_final = final_features.merge(points_full_rb_grouped[['PK', 'response']], how='left', on='PK')
rb_final.shape

(629, 31)

In [63]:
rb_final[rb_final['Player'].str.contains('Javonte')]

,Round,Pick,Team,Player,Position,Age,School,Year,Weight,40 Time,...,RecYds,RecAvg,RecTD,Plays,TotalYds,YardsPerPlay,TotalTDs,YPG,Conf,response
612,2,35,DEN,Javonte Williams,RB,21.0,North Carolina,2021,212.0,4.55,...,481.0,11.452381,4.0,365.0,2554.0,6.99726,28.0,20.041667,ACC,1.0

In [64]:
len(rb_final[rb_final['response'].isna()])

300

In [65]:
rb_final.to_csv('rb_final.csv')