In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('wr_df.csv')
df = df.drop(columns=['Unnamed: 0', 'Vert Leap (in)', 'Shuttle', '3Cone'])

In [8]:
df

,Round,Pick,Team,Player,Position,Age,School,Year,Height (in),Weight (lbs),40 Yard
0,1,7,CHI,curtis conway,WR,22.0,USC,1993,72.3,185.0,NaN
1,1,16,IND,sean dawkins,WR,22.0,California,1993,75.9,213.0,4.61
2,1,25,MIA,o.j. mcduffie,WR,23.0,Penn St.,1993,70.1,191.0,NaN
3,2,46,DAL,kevin williams,WR,22.0,Miami (FL),1993,69.0,190.0,4.49
4,2,50,PHI,victor bailey,WR,23.0,Missouri,1993,74.3,196.0,4.57
...,...,...,...,...,...,...,...,...,...,...,...
914,7,229,IND,mike strachan,WR,24.0,Charleston (WV),2021,NaN,NaN,NaN
915,7,242,NWE,tre nixon,WR,23.0,Central Florida,2021,72.0,187.0,4.44
916,7,249,LAR,ben skowronek,WR,24.0,Notre Dame,2021,NaN,NaN,NaN
917,7,255,NOR,kawaan baker,WR,23.0,South Alabama,2021,NaN,NaN,NaN
918,7,258,WAS,dax milne,WR,22.0,BYU,2021,NaN,NaN,NaN

In [9]:
df.isna().sum()

Round             0
Pick              0
Team              0
Player            0
Position          0
Age              77
School            1
Year              0
Height (in)     156
Weight (lbs)    156
40 Yard         217
dtype: int64