In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

In [17]:
pd.set_option('display.max_columns', None)

URL = 'https://www.sports-reference.com/cfb/years/2022-receiving.html'

res = requests.get(URL)

soup = BS(res.content, 'html.parser')

table = soup.find(class_="sortable stats_table", id='receiving')


df = pd.read_html(str(table))[0]

# df1 = df.drop(columns=[['']])
df
# print(soup.prettify())
# res.content

    Unnamed: 0_level_0   Unnamed: 1_level_0     Unnamed: 2_level_0  \
                    Rk               Player                 School
0                    1      Trea Shropshire                    UAB
1                    2       Jyaire Shorter            North Texas
2                    3       Justin Shorter                Florida
3                    4       Jonathan Mingo               Ole Miss
4                    5         Gavin Holmes                 Baylor
..                 ...                  ...                    ...
518                495       Dedrick Parson                 Hawaii
519                496  SaRodorick Thompson             Texas Tech
520                497         Jirehl Brock             Iowa State
521                498      Eric Wilson Jr.  Florida International
522                499            Cam Wiley                  Akron

    Unnamed: 3_level_0 Unnamed: 4_level_0 Receiving               Rushing  \
                  Conf                  G       Rec  Yds   Avg TD     Att
0                 CUSA                  6        16  389  24.3  2       0
1                 CUSA                  7        15  350  23.3  6       0
2                  SEC                  7        18  405  22.5  2       0
3                  SEC                  8        26  576  22.2  3       2
4               Big 12                  7        18  397  22.1  3       0
..                 ...                ...       ...  ...   ... ..     ...
518                MWC                  8        18   89   4.9  0     120
519             Big 12                  7        15   73   4.9  1      79
520             Big 12                  7        16   73   4.6  1      80
521               CUSA                  7        16   72   4.5  0      50
522                MAC                  7        17   75   4.4  0      61

                  Scrimmage
     Yds  Avg  TD     Plays  Yds   Avg  TD
0      0  NaN   0        16  389  24.3   2
1      0  NaN   0        15  350  23.3   6
2      0  NaN   0        18  405  22.5   2
3      2  1.0   1        28  578  20.6   4
4      0  NaN   0        18  397  22.1   3
..   ...  ...  ..       ...  ...   ...  ..
518  543  4.5  10       138  632   4.6  10
519  369  4.7   3        94  442   4.7   4
520  398  5.0   2        96  471   4.9   3
521  167  3.3   1        66  239   3.6   1
522  209  3.4   2        78  284   3.6   2

[523 rows x 17 columns]

In [22]:
# df['Rk'].value_counts()
df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs']
df

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs
0,1,Trea Shropshire,UAB,CUSA,6,16,389,24.3,2,0,0,NaN,0,16,389,24.3,2
1,2,Jyaire Shorter,North Texas,CUSA,7,15,350,23.3,6,0,0,NaN,0,15,350,23.3,6
2,3,Justin Shorter,Florida,SEC,7,18,405,22.5,2,0,0,NaN,0,18,405,22.5,2
3,4,Jonathan Mingo,Ole Miss,SEC,8,26,576,22.2,3,2,2,1.0,1,28,578,20.6,4
4,5,Gavin Holmes,Baylor,Big 12,7,18,397,22.1,3,0,0,NaN,0,18,397,22.1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,495,Dedrick Parson,Hawaii,MWC,8,18,89,4.9,0,120,543,4.5,10,138,632,4.6,10
519,496,SaRodorick Thompson,Texas Tech,Big 12,7,15,73,4.9,1,79,369,4.7,3,94,442,4.7,4
520,497,Jirehl Brock,Iowa State,Big 12,7,16,73,4.6,1,80,398,5.0,2,96,471,4.9,3
521,498,Eric Wilson Jr.,Florida International,CUSA,7,16,72,4.5,0,50,167,3.3,1,66,239,3.6,1
522,499,Cam Wiley,Akron,MAC,7,17,75,4.4,0,61,209,3.4,2,78,284,3.6,2

In [24]:
df['Conf'].value_counts()

SEC         61
ACC         54
Pac-12      52
Big Ten     51
Sun Belt    51
MAC         51
Big 12      47
American    41
CUSA        39
MWC         38
Conf        24
Ind         14
Name: Conf, dtype: int64

In [27]:
df1 = df.loc[df['Conf']!='Conf']
# df1['Conf'].value_counts()
len(df1)

499

In [29]:
df1 = df1.copy()
df1['Player'] = df1['Player'].apply(lambda x: x.split('*')[0].strip())

In [30]:
df1

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs
0,1,Trea Shropshire,UAB,CUSA,6,16,389,24.3,2,0,0,NaN,0,16,389,24.3,2
1,2,Jyaire Shorter,North Texas,CUSA,7,15,350,23.3,6,0,0,NaN,0,15,350,23.3,6
2,3,Justin Shorter,Florida,SEC,7,18,405,22.5,2,0,0,NaN,0,18,405,22.5,2
3,4,Jonathan Mingo,Ole Miss,SEC,8,26,576,22.2,3,2,2,1.0,1,28,578,20.6,4
4,5,Gavin Holmes,Baylor,Big 12,7,18,397,22.1,3,0,0,NaN,0,18,397,22.1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,495,Dedrick Parson,Hawaii,MWC,8,18,89,4.9,0,120,543,4.5,10,138,632,4.6,10
519,496,SaRodorick Thompson,Texas Tech,Big 12,7,15,73,4.9,1,79,369,4.7,3,94,442,4.7,4
520,497,Jirehl Brock,Iowa State,Big 12,7,16,73,4.6,1,80,398,5.0,2,96,471,4.9,3
521,498,Eric Wilson Jr.,Florida International,CUSA,7,16,72,4.5,0,50,167,3.3,1,66,239,3.6,1
522,499,Cam Wiley,Akron,MAC,7,17,75,4.4,0,61,209,3.4,2,78,284,3.6,2

In [34]:
def get_rec_data(year):
    """Creating a function to scrape receiving data"""
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.sports-reference.com/cfb/years/{year}-receiving.html'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='receiving')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs']
    # remove blank rows
    df = df.loc[df['Conf']!='Conf']
    # remove the * that's next to several player names
    df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())
    # save data to csv
    df.to_csv(f'receiving/{year}.csv', index=False)
    return "Data successfully saved"

In [36]:
get_rec_data(2020)

'Data successfully saved'

In [38]:
for x in range(1993,2022):
    get_rec_data(x)

In [45]:
def get_rush_data(year):
    """Creating a function to scrape receiving data"""
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.sports-reference.com/cfb/years/{year}-rushing.html'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='rushing')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs']
    # remove blank rows
    df = df.loc[df['Conf']!='Conf']
    # remove the * that's next to several player names
    df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())
    # save data to csv
    df.to_csv(f'rushing/{year}.csv', index=False)
    return "Data successfully saved"

In [46]:
for x in range(1993,2022):
    get_rush_data(x)

In [ ]:
def get_passing_data(year):
    """Creating a function to scrape receiving data"""
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.sports-reference.com/cfb/years/{year}-passing.html'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='passing')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'Completions', 'Attempts', 'CompletionPCT', 'PassYds', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD']
    # remove blank rows
    df = df.loc[df['Conf']!='Conf']
    # remove the * that's next to several player names
    df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())
    # save data to csv
    df.to_csv(f'rushing/{year}.csv', index=False)
    return "Data successfully saved"

In [3]:
pd.set_option('display.max_columns', None)

URL = 'https://www.sports-reference.com/cfb/years/2022-receiving.html'

res = requests.get(URL)
soup = BS(res.content, 'html.parser')
table = soup.find('table', {'id': 'all_receiving'})
df = pd.read_html(str(table))[0]
df.columns = df.columns.droplevel(level=0)

#removing filler rows
# df = df.loc[df['Player'] != 'Player']

#fixing player names that have astericks
# df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())

#Column names:
#Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,
#RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost

# df['PassingYds'] = df['Yds'].iloc[:, 0]
# df['RushingYds'] = df['Yds'].iloc[:, 1]
# df['ReceivingYds'] = df['Yds'].iloc[:, 2]

# df['PassingTD'] = df['TD'].iloc[:, 0]
# df['RushingTD'] = df['TD'].iloc[:, 1]
# df['ReceivingTD'] = df['TD'].iloc[:, 2]

# df['PassingAtt'] = df['Att'].iloc[:, 0]
# df['RushingAtt'] = df['Att'].iloc[:, 1]

# df = df.rename(columns={
#     'FantPos': 'Pos', 'FantPt': 'FantasyPoints', 'Fmb': 'Fumbles', 'FL': 'FumblesLost'
# })

# df = df[[
#     'Player','Tm','Pos','Age','G','GS','Tgt','Rec','PassingYds','PassingTD','PassingAtt',
#     'RushingYds','RushingTD','RushingAtt','ReceivingYds','ReceivingTD','FantasyPoints',
#     'Int','Fumbles','FumblesLost'
# ]]

# df.to_csv('receiving/2020.csv', index=False)
df.head()

ValueError: No tables found