In [4]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

In [22]:
pd.set_option('display.max_columns', None)

URL = 'https://www.sports-reference.com/cfb/years/2022-receiving.html'

res = requests.get(URL)

soup = BS(res.content, 'html.parser')

table = soup.find(class_="sortable stats_table", id='receiving')


df = pd.read_html(str(table))[0]

# print(table)
# df1 = df.drop(columns=[['']])
# df
# print(soup.prettify())
# res.content

In [3]:
# df['Rk'].value_counts()
df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs']
df

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs
0,1,Trea Shropshire,UAB,CUSA,6,16,389,24.3,2,0,0,NaN,0,16,389,24.3,2
1,2,Jyaire Shorter,North Texas,CUSA,7,15,350,23.3,6,0,0,NaN,0,15,350,23.3,6
2,3,Justin Shorter,Florida,SEC,7,18,405,22.5,2,0,0,NaN,0,18,405,22.5,2
3,4,Jonathan Mingo,Ole Miss,SEC,8,26,575,22.1,3,2,2,1.0,1,28,577,20.6,4
4,5,Gavin Holmes,Baylor,Big 12,7,18,397,22.1,3,0,0,NaN,0,18,397,22.1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,496,Dedrick Parson,Hawaii,MWC,8,18,89,4.9,0,120,543,4.5,10,138,632,4.6,10
520,497,SaRodorick Thompson,Texas Tech,Big 12,7,15,73,4.9,1,79,369,4.7,3,94,442,4.7,4
521,498,Jirehl Brock,Iowa State,Big 12,7,16,73,4.6,1,80,398,5.0,2,96,471,4.9,3
522,499,Eric Wilson Jr.,Florida International,CUSA,7,16,72,4.5,0,50,167,3.3,1,66,239,3.6,1
523,500,Cam Wiley,Akron,MAC,7,17,75,4.4,0,61,209,3.4,2,78,284,3.6,2

In [4]:
df['Conf'].value_counts()

SEC         61
ACC         54
Sun Belt    52
Pac-12      52
MAC         51
Big Ten     51
Big 12      47
American    41
CUSA        39
MWC         38
Conf        24
Ind         14
Name: Conf, dtype: int64

In [5]:
df1 = df.loc[df['Conf']!='Conf']
# df1['Conf'].value_counts()
len(df1)

500

In [29]:
df1 = df1.copy()
df1['Player'] = df1['Player'].apply(lambda x: x.split('*')[0].strip())

In [30]:
df1

,Rk,Player,School,Conf,G,Rec,RecYds,RecAvg,RecTD,RushAtt,RushYds,RushAvg,RushTD,Plays,TotalYds,YardsPerPlay,TotalTDs
0,1,Trea Shropshire,UAB,CUSA,6,16,389,24.3,2,0,0,NaN,0,16,389,24.3,2
1,2,Jyaire Shorter,North Texas,CUSA,7,15,350,23.3,6,0,0,NaN,0,15,350,23.3,6
2,3,Justin Shorter,Florida,SEC,7,18,405,22.5,2,0,0,NaN,0,18,405,22.5,2
3,4,Jonathan Mingo,Ole Miss,SEC,8,26,576,22.2,3,2,2,1.0,1,28,578,20.6,4
4,5,Gavin Holmes,Baylor,Big 12,7,18,397,22.1,3,0,0,NaN,0,18,397,22.1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,495,Dedrick Parson,Hawaii,MWC,8,18,89,4.9,0,120,543,4.5,10,138,632,4.6,10
519,496,SaRodorick Thompson,Texas Tech,Big 12,7,15,73,4.9,1,79,369,4.7,3,94,442,4.7,4
520,497,Jirehl Brock,Iowa State,Big 12,7,16,73,4.6,1,80,398,5.0,2,96,471,4.9,3
521,498,Eric Wilson Jr.,Florida International,CUSA,7,16,72,4.5,0,50,167,3.3,1,66,239,3.6,1
522,499,Cam Wiley,Akron,MAC,7,17,75,4.4,0,61,209,3.4,2,78,284,3.6,2

In [34]:
def get_rec_data(year):
    """Creating a function to scrape receiving data"""
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.sports-reference.com/cfb/years/{year}-receiving.html'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='receiving')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs']
    # remove blank rows
    df = df.loc[df['Conf']!='Conf']
    # remove the * that's next to several player names
    df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())
    # save data to csv
    df.to_csv(f'receiving/{year}.csv', index=False)
    return "Data successfully saved"

In [36]:
get_rec_data(2020)

'Data successfully saved'

In [38]:
for x in range(1993,2022):
    get_rec_data(x)

In [12]:
def get_rush_data(year):
    """Creating a function to scrape receiving data"""
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.sports-reference.com/cfb/years/{year}-rushing.html'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='rushing')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD', 'Rec', 'RecYds', 'RecAvg', 'RecTD', 'Plays', 'TotalYds', 'YardsPerPlay', 'TotalTDs']
    # remove blank rows
    df = df.loc[df['Conf']!='Conf']
    # remove the * that's next to several player names
    df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())
    # save data to csv
    df.to_csv(f'rushing/{year}.csv', index=False)
    return "Data successfully saved"

In [13]:
for x in range(1993,2022):
    get_rush_data(x)

In [9]:
def get_passing_data(year):
    """Creating a function to scrape passing data"""
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.sports-reference.com/cfb/years/{year}-passing.html'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='passing')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Rk', 'Player', 'School', 'Conf', 'G', 'Completions', 'Attempts', 'CompletionPCT', 'PassYds', 'YardsPerAttempt',
                  'AdjustedYardsPerAttempt', 'PassingTDs', 'Int', 'EfficiencyRtg', 'RushAtt', 'RushYds', 'RushAvg', 'RushTD']
    # remove blank rows
    df = df.loc[df['Conf']!='Conf']
    # remove the * that's next to several player names
    df['Player'] = df['Player'].apply(lambda x: x.split('*')[0].strip())
    # save data to csv
    df.to_csv(f'passing/{year}.csv', index=False)
    return "Data successfully saved"

In [10]:
for x in range(1993,2022):
    get_passing_data(x)

In [14]:
pd.set_option('display.max_columns', None)

URL = 'https://www.pro-football-reference.com/years/2021/draft.htm'

res = requests.get(URL)

soup = BS(res.content, 'html.parser')

table = soup.find(class_="sortable stats_table", id="drafts")

df = pd.read_html(str(table))[0]
# df.columns
df.head()
# print(table)
# df = pd.read_html(str(table))[0]

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                 Rnd               Pick                 Tm             Player
0                  1                  1                JAX    Trevor Lawrence
1                  1                  2                NYJ        Zach Wilson
2                  1                  3                SFO         Trey Lance
3                  1                  4                ATL         Kyle Pitts
4                  1                  5                CIN      Ja'Marr Chase

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Misc     \
                 Pos                Age                 To  AP1 PB
0                 QB                 21               2022    0  0
1                 QB                 22               2022    0  0
2                 QB                 21               2022    0  0
3                 TE                 20               2022    0  1
4                 WR                 21               2022    0  1

  Unnamed: 9_level_0 Approx Val      Unnamed: 12_level_0 Passing             \
                  St        wAV DrAV                   G     Cmp  Att   Yds
0                  1          7    7                  24     514  848  5348
1                  1          5    5                  17     271  484  3027
2                  0          3    3                   8      56  102   797
3                  1          8    8                  23       0    0     0
4                  1         13   13                  24       0    0     0

          Rushing         Receiving           Unnamed: 24_level_0  \
   TD Int     Att  Yds TD       Rec   Yds  TD                Solo
0  21  21      97  418  5         0     0   0                   3
1  10  13      44  227  5         1     2   1                 NaN
2   5   3      54  235  1         0     0   0                   1
3   0   0       0    0  0        84  1204   2                   3
4   0   0      11   23  0       128  2060  19                   4

  Unnamed: 25_level_0 Unnamed: 26_level_0 Unnamed: 27_level_0  \
                  Int                  Sk        College/Univ
0                 NaN                 NaN             Clemson
1                 NaN                 NaN                 BYU
2                 NaN                 NaN    North Dakota St.
3                 NaN                 NaN             Florida
4                 NaN                 NaN                 LSU

  Unnamed: 28_level_0
  Unnamed: 28_level_1
0       College Stats
1       College Stats
2       College Stats
3       College Stats
4       College Stats

In [18]:
df.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV','G', 'Cmp', 'PassAtt',
            'PassYds', 'PassTD', 'Int', 'RushAtt', 'RushYds', 'RushTD', 'Rec', 'RecYds', 'RecTD', 'Solo', 'Int', 'Sk', 'School', 'Unnamed: 28_level_1']

df

,Round,Pick,Team,Player,Position,Age,To,AP1,PB,St,wAV,DrAV,G,Cmp,PassAtt,PassYds,PassTD,Int,RushAtt,RushYds,RushTD,Rec,RecYds,RecTD,Solo,Int,Sk,School,Unnamed: 28_level_1
0,1,1,JAX,Trevor Lawrence,QB,21,2022,0,0,1,7,7,24,514,848,5348,21,21,97,418,5,0,0,0,3,NaN,NaN,Clemson,College Stats
1,1,2,NYJ,Zach Wilson,QB,22,2022,0,0,1,5,5,17,271,484,3027,10,13,44,227,5,1,2,1,NaN,NaN,NaN,BYU,College Stats
2,1,3,SFO,Trey Lance,QB,21,2022,0,0,0,3,3,8,56,102,797,5,3,54,235,1,0,0,0,1,NaN,NaN,North Dakota St.,College Stats
3,1,4,ATL,Kyle Pitts,TE,20,2022,0,1,1,8,8,23,0,0,0,0,0,0,0,0,84,1204,2,3,NaN,NaN,Florida,College Stats
4,1,5,CIN,Ja'Marr Chase,WR,21,2022,0,1,1,13,13,24,0,0,0,0,0,11,23,0,128,2060,19,4,NaN,NaN,LSU,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,7,255,NOR,Kawaan Baker,WR,23,2021,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,South Alabama,College Stats
261,7,256,GNB,Kylin Hill,RB,23,2021,0,0,0,0,0,8,0,0,0,0,0,10,24,0,1,5,0,1,NaN,NaN,Mississippi St.,College Stats
262,7,257,DET,Jermar Jefferson,RB,21,2021,0,0,0,1,1,7,0,0,0,0,0,15,74,2,4,23,0,NaN,NaN,NaN,Oregon St.,College Stats
263,7,258,WAS,Dax Milne,WR,22,2022,0,0,0,1,1,20,0,0,0,0,0,1,1,0,13,110,0,NaN,NaN,NaN,BYU,College Stats
264,7,259,TAM,Grant Stuard,LB,22,2022,0,0,0,1,1,24,0,0,0,0,0,0,0,0,0,0,0,11,NaN,NaN,Houston,College Stats

In [31]:
for x in range(1993,2022):
    try:
        get_draft_data(x)
    except ValueError:
        print(x)
    except:
        print(x, 'something else')

1993

In [25]:
def get_draft_data(year)
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.pro-football-reference.com/years/{year}/draft.htm'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='drafts')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV','G', 'Cmp', 'PassAtt',
                'PassYds', 'PassTD', 'Int', 'RushAtt', 'RushYds', 'RushTD', 'Rec', 'RecYds', 'RecTD', 'Solo', 'Int', 'Sk', 'School', 'Unnamed: 28_level_1']

        # remove blank rows
    df = df.loc[df['Player']!='Player']
    # filtering to only positions of interest
    # df1 = df1[(df1['Player']=='QB') or (df1['Player']=='WR') or (df1['Player']=='RB') or (df1['Player']=='TE')].copy() 
    # select only relevant columns
    df1 = df[['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School']].copy()
        # remove the * that's next to several player names
    df1['Player'] = df1['Player'].apply(lambda x: x.split('*')[0].strip())
        # save data to csv
    df1.to_csv(f'draft_data/{year}.csv', index=False)
    print('success')

success

In [30]:
for x in range(1993,2022):
    get_draft_data(x)

ValueError: Length mismatch: Expected axis has 28 elements, new values have 29 elements

In [32]:

pd.set_option('display.max_columns', None)
    # setting the url
URL = 'https://nflcombineresults.com/nflcombinedata_expanded.php?year=2021&pos=&college='
    # saving the url as a variable
res = requests.get(URL)
    # creating a beautifulSoup object
soup = BS(res.content, 'html.parser')
# locate table of interest
table = soup.find(class_="sortable")
# read data into a datafrae
df = pd.read_html(str(table))[0]
    # rename columns
# df.columns = ['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV','G', 'Cmp', 'PassAtt',
#                 'PassYds', 'PassTD', 'Int', 'RushAtt', 'RushYds', 'RushTD', 'Rec', 'RecYds', 'RecTD', 'Solo', 'Int', 'Sk', 'School', 'Unnamed: 28_level_1']

#         # remove blank rows
# df = df.loc[df['Player']!='Player']
#     # filtering to only positions of interest
#     # df1 = df1[(df1['Player']=='QB') or (df1['Player']=='WR') or (df1['Player']=='RB') or (df1['Player']=='TE')].copy() 
#     # select only relevant columns
# df1 = df[['Round', 'Pick', 'Team', 'Player', 'Position', 'Age', 'School']].copy()
#         # remove the * that's next to several player names
#     df1['Player'] = df1['Player'].apply(lambda x: x.split('*')[0].strip())
#         # save data to csv
#     df1.to_csv(f'draft_data/{year}.csv', index=False)
#     print('success')
df

,Year,Name,College,POS,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,2021.0,Jonathan Adams,Arkansas State,WR,74.00,210.0,9.875,32.125,NaN,4.59,NaN,39.0,132.0,4.38,7.04,NaN
1,2021.0,Paulson Adebo,Stanford,CB,73.00,198.0,10.000,31.500,NaN,4.45,18.0,36.5,121.0,4.13,6.69,NaN
2,2021.0,DAngelo Amos,Virginia,FS,71.75,191.0,9.000,32.250,NaN,4.58,11.0,34.5,119.0,4.33,6.98,NaN
3,2021.0,Jack Anderson,Texas Tech,OG,76.63,314.0,10.000,31.875,NaN,5.27,27.0,29.5,105.0,4.83,7.88,NaN
4,2021.0,Otis Anderson,Central Florida,RB,67.50,179.0,9.000,31.125,NaN,4.65,11.0,36.0,113.0,4.42,7.04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2021.0,Lawrence Woods,Truman State,CB,69.50,182.0,9.375,31.250,NaN,4.52,13.0,37.5,124.0,4.28,7.08,NaN
418,2021.0,Kenny Yeboah,Mississippi,TE,75.88,250.0,9.375,33.250,NaN,NaN,15.0,34.0,116.0,NaN,NaN,NaN
419,2021.0,Landon Young,Kentucky,OT,78.13,310.0,10.125,33.750,NaN,5.18,34.0,30.5,108.0,4.89,7.70,NaN
420,2021.0,Zane Zandier,Virginia,ILB,74.75,228.0,9.125,31.000,NaN,4.76,18.0,37.0,119.0,4.28,7.14,NaN
421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
def get_combine_data(year):
    pd.set_option('display.max_columns', None)
        # setting the url
    URL = f'https://nflcombineresults.com/nflcombinedata_expanded.php?year={year}&pos=&college='
        # saving the url as a variable
    res = requests.get(URL)
        # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable")
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    df.to_csv(f'combine_results/{year}.csv', index=False)
    print('success')

In [36]:
for x in range(1993,2022):
    try:
        get_combine_data(x)
    except ValueError:
        print(x)
    except:
        print(x, 'something else')

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

In [12]:
def get_combine_data(year):
    pd.set_option('display.max_columns', None)
    # setting the url
    URL = f'https://www.pro-football-reference.com/draft/{year}-combine.htm'
    # saving the url as a variable
    res = requests.get(URL)
    # creating a beautifulSoup object
    soup = BS(res.content, 'html.parser')
    # locate table of interest
    table = soup.find(class_="sortable stats_table", id='combine')
    # read data into a datafrae
    df = pd.read_html(str(table))[0]
    # rename columns
    df.columns = ['Player', 'Position', 'School', 'College', 'Height', 'Weight', '40 Time', 'Vertical Jump', 'Bench', 'Broad Jump', '3 Cone', 'Shuttle', 'Drafted']

        # remove blank rows
    df = df.loc[df['Player']!='Player']
    # filtering to only positions of interest
    # df1 = df1[(df1['Player']=='QB') or (df1['Player']=='WR') or (df1['Player']=='RB') or (df1['Player']=='TE')].copy() 
    # select only relevant columns
    df1 = df[df['Drafted'].notnull()].copy()
        # remove the * that's next to several player names
    df1['Player'] = df1['Player'].apply(lambda x: x.split('*')[0].strip())
        # save data to csv
    df1.to_csv(f'combine_data/{year}.csv', index=False)
    print('success')

In [14]:
for x in range(2000,2022):
    get_combine_data(x)

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success